
# Create the Eurasia DataFrame

In [ ]:

# Extract the paths from the SVG
import xml.etree.ElementTree as et
import collections

file_path = r'C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\Eurasia_location_map.svg'
root = et.parse(file_path).getroot()
rows_list = []
for el in root.iter():
    rows_list.append(el.attrib)
eurasia_df = pd.DataFrame(rows_list).rename(columns={'{http://www.w3.org/XML/1998/namespace}space': 'namespace',
                                                     '{http://www.inkscape.org/namespaces/inkscape}version': 'inkscape_version',
                                                     '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}docname':'docname',
                                                     '{http://www.inkscape.org/namespaces/inkscape}pageshadow': 'pageshadow',
                                                     '{http://www.inkscape.org/namespaces/inkscape}pageopacity': 'pageopacity',
                                                     '{http://www.inkscape.org/namespaces/inkscape}pagecheckerboard': 'pagecheckerboard',
                                                     '{http://www.inkscape.org/namespaces/inkscape}zoom': 'zoom',
                                                     '{http://www.inkscape.org/namespaces/inkscape}cx': 'cx',
                                                     '{http://www.inkscape.org/namespaces/inkscape}cy': 'cy',
                                                     '{http://www.inkscape.org/namespaces/inkscape}window-width': 'window_width',
                                                     '{http://www.inkscape.org/namespaces/inkscape}window-height': 'window_height',
                                                     '{http://www.inkscape.org/namespaces/inkscape}window-x': 'window_x',
                                                     '{http://www.inkscape.org/namespaces/inkscape}window-y': 'window_y',
                                                     '{http://www.inkscape.org/namespaces/inkscape}window-maximized': 'window_maximized',
                                                     '{http://www.inkscape.org/namespaces/inkscape}current-layer': 'current_layer',
                                                     'id': 'fr_country_name',
                                                     'd': 'outline_d'})
assert all(map(lambda x: x==1, collections.Counter(eurasia_df.columns).values())), "You doubled up the column names somehow"

In [ ]:

# Convert the french name to an english name
import numpy as np

eurasia_df = eurasia_df.iloc[4:]
country_names_list = ['Montenegro', 'Slovenia', 'Croatia', 'Serbia', 'North Macedonia', 'Bosnia and Herzegovina', 'Albania', 'Lithuania',
                      'Estonia', 'Latvia', 'Ukraine', 'Belarus', 'Moldova, Republic of', 'Italy', 'Poland', 'Slovakia', 'Czechia', 'Hungary',
                      'Romania', 'Bulgaria', 'Greece', 'United Kingdom of Great Britain and Northern Ireland', 'Ireland', 'Iceland', 'Spain',
                      'Portugal', 'Denmark', 'Germany', 'Switzerland', 'Austria', 'France', 'Netherlands', 'Belgium', 'Luxembourg', 'Sweden',
                      'Norway', 'Finland', 'Russian Federation', 'Turkey', 'Georgia', 'Syrian Arab Republic', 'Jordan', 'Lebanon', 'Israel',
                      'Kuwait', 'Saudi Arabia', 'United Arab Emirates', 'Qatar', 'Yemen', 'Oman', 'Iraq', 'Iran (Islamic Republic of)',
                      'Armenia', 'Kazakhstan', 'Uzbekistan', 'Azerbaijan', 'Turkmenistan', 'Tajikistan', 'Kyrgyzstan', 'Afghanistan',
                      'Pakistan', 'India', 'Sri Lanka', 'Nepal', 'Bhutan', 'Bangladesh', 'Cambodia', 'Myanmar', 'Viet Nam', 'Malaysia',
                      'Thailand', "Lao People's Democratic Republic", 'Brunei Darussalam', 'Indonesia', 'Philippines', 'Papua New Guinea',
                      'Mongolia', 'China', 'Japan', 'Taiwan, Province of China', "Korea (Democratic People's Republic of)",
                      'Korea, Republic of']
fr_en_dict = {fr: en for fr, en in zip(eurasia_df.fr_country_name.tolist(), country_names_list)}
eurasia_df['country_name'] = eurasia_df.fr_country_name.map(lambda x: fr_en_dict.get(x, np.nan))

# Check for duplicate country paths
mask_series = eurasia_df.duplicated(subset=['country_name'], keep=False)
assert eurasia_df[mask_series].shape[0] == 0, "You've duplicated some country names"

mask_series = eurasia_df.country_name.isnull()
eurasia_df = eurasia_df[~mask_series]

In [9]:

# Get the GDP countries dataframe
%run ../load_magic/storage.py

s = Storage()
if s.pickle_exists('gdp_countries_df'):
    gdp_countries_df = s.load_object('gdp_countries_df')
    mask_series = gdp_countries_df.country_name.isin(['Moldova, Republic of', 'Czechia', 'United Kingdom of Great Britain and Northern Ireland',
                                                      'Russian Federation', 'Syrian Arab Republic', 'Iran (Islamic Republic of)', 'Viet Nam',
                                                      "Lao People's Democratic Republic", 'Brunei Darussalam', 'Taiwan, Province of China',
                                                      "Korea (Democratic People's Republic of)", 'Korea, Republic of'])
    if not gdp_countries_df[mask_series].shape[0]:
        rows_list = []

        # The Gross Domestic Product (GDP) in Moldova was worth 11.91 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Moldova, Republic of'
        row_dict['wb_estimate'] = 11.91*1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Czech Republic was worth 245.35 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Czechia'
        row_dict['wb_estimate'] = 245.35*1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in the United Kingdom was worth 2707.74 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'United Kingdom of Great Britain and Northern Ireland'
        row_dict['wb_estimate'] = 2707.74 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Russia was worth 1483.50 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Russian Federation'
        row_dict['wb_estimate'] = 1483.50 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Syria was worth 65 billion US dollars in 2019,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Syrian Arab Republic'
        row_dict['wb_estimate'] = 65 * 1_000
        row_dict['wb_year'] = 2019
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Iran was worth 191.72 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Iran (Islamic Republic of)'
        row_dict['wb_estimate'] = 191.72 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Vietnam was worth 271.16 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Viet Nam'
        row_dict['wb_estimate'] = 271.16 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Laos was worth 19.14 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = "Lao People's Democratic Republic"
        row_dict['wb_estimate'] = 19.14 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Brunei was worth 12.02 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Brunei Darussalam'
        row_dict['wb_estimate'] = 12.02 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in Taiwan was worth 668.50 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Taiwan, Province of China'
        row_dict['wb_estimate'] = 668.50 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in North Korea was worth 18 billion US dollars in 2019,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = "Korea (Democratic People's Republic of)"
        row_dict['wb_estimate'] = 18 * 1_000
        row_dict['wb_year'] = 2019
        rows_list.append(row_dict)

        # The Gross Domestic Product (GDP) in South Korea was worth 1630.53 billion US dollars in 2020,
        # according to official data from the World Bank.
        row_dict = {}
        row_dict['country_name'] = 'Korea, Republic of'
        row_dict['wb_estimate'] = 1630.53 * 1_000
        row_dict['wb_year'] = 2020
        rows_list.append(row_dict)
        gdp_countries_df = pd.concat([gdp_countries_df, pd.DataFrame(rows_list)])
        s.store_objects(gdp_countries_df=gdp_countries_df)

In [10]:

# Get the state equivalent column
eurasia_df = s.load_object('eurasia_df')

# Check for duplicate country names
mask_series = gdp_countries_df.duplicated(subset=['country_name'], keep=False)
assert gdp_countries_df[mask_series].shape[0] == 0, "You've duplicated some country names in the GDP countries"

countries_list = [country_name for country_name in eurasia_df.country_name if str(country_name) != 'nan']
COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows() if r.country_name in countries_list]

In [ ]:

gdp_us_states_df = s.load_object('gdp_us_states_df')

# Check for duplicate state name
mask_series = gdp_us_states_df.duplicated(subset=['state_name'], keep=False)
assert gdp_us_states_df[mask_series].shape[0] == 0, "You've duplicated some state names in the GDP states"

In [ ]:

# Get the gdp equivalents
state_tuples_list = [(r.state_name, r.gdp_millions_usd_2021) for i, r in gdp_us_states_df.iterrows() if str(r.state_name) != 'nan']
rows_list = []
for country_tuple in COUNTRY_TUPLES_LIST:
    candidate_tuple = sorted([s for s in state_tuples_list], key=lambda x: abs(x[1] - country_tuple[1]))[0]
    state_name = candidate_tuple[0]
    country_name = country_tuple[0]
    # print(f'{country_name} is close to the GDP of {state_name}')
    row_dict = {}
    row_dict['country_name'] = country_name
    row_dict['state_name'] = state_name
    rows_list.append(row_dict)
country_to_state_gdp_equivalent_dict = pd.DataFrame(rows_list).set_index('country_name').state_name.to_dict()
COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows() if str(r.country_name) != 'nan']
for state_tuple in state_tuples_list:
    candidate_tuple = sorted([s for s in COUNTRY_TUPLES_LIST], key=lambda x: abs(x[1] - state_tuple[1]))[0]
    country_name = candidate_tuple[0]
    # print(f'{state_name} is close to the GDP of {country_name}')
    row_dict = {}
    state_name = state_tuple[0]
    row_dict['state_name'] = state_name
    row_dict['country_name'] = country_name
    rows_list.append(row_dict)
state_to_country_gdp_equivalent_dict = pd.DataFrame(rows_list).set_index('state_name').country_name.to_dict()
eurasia_df['state_equivalent_gdp'] = eurasia_df.country_name.map(lambda x: country_to_state_gdp_equivalent_dict.get(x, np.nan))

In [ ]:

# Merge in the GDP and other country info
import re

suffixes_list = ['_all', '_euro', '_gdp', '_merge']
suffixes_regex = re.compile('_(all|euro|gdp|merge)')

# Check for merge cycling
assert all([all(map(lambda x: not column_name.endswith(x), suffixes_list)) for column_name in eurasia_df.columns])

print(f'eurasia_df has {eurasia_df.country_name.unique().shape[0]} unique countries')
# print(sorted(eurasia_df.columns.tolist(), key=lambda x: x[::-1]))

In [ ]:

all_countries_df = s.load_object('all_countries_df')

# Check for duplicate country names
mask_series = all_countries_df.duplicated(subset=['country_name'], keep=False)
assert all_countries_df[mask_series].shape[0] == 0, "You've duplicated some country names in the all countries"

# Check for merge cycling
assert all([all(map(lambda x: not column_name.endswith(x), suffixes_list)) for column_name in all_countries_df.columns])

print(f'all_countries_df has {all_countries_df.country_name.unique().shape[0]} unique countries')
# print(sorted(all_countries_df.columns.tolist(), key=lambda x: x[::-1]))

In [ ]:

merge_df = all_countries_df.merge(eurasia_df, how='right', on='country_name', suffixes=('_all', '_euro'))

# Check for duplicate country names
mask_series = merge_df.duplicated(subset=['country_name'], keep=False)
assert merge_df[mask_series].shape[0] == 0, "You've duplicated some country names in the first merge"

# Check for merge cycling
assert all([all(map(lambda x: not column_name.endswith(x), suffixes_list)) for column_name in merge_df.columns])

print(f'merge_df has {merge_df.country_name.unique().shape[0]} unique countries')
# print(sorted(merge_df.columns.tolist(), key=lambda x: x[::-1]))

gdp_countries_df = s.load_object('gdp_countries_df')
print(f'gdp_countries_df has {gdp_countries_df.country_name.unique().shape[0]} unique countries')
# print(sorted(gdp_countries_df.columns.tolist(), key=lambda x: x[::-1]))

In [ ]:

merge_df = gdp_countries_df.merge(merge_df, how='right', on='country_name', suffixes=('_gdp', '_merge'))

# Check for duplicate country names
mask_series = merge_df.duplicated(subset=['country_name'], keep=False)
assert merge_df[mask_series].shape[0] == 0, "You've duplicated some country names in the second merge"

# Check for duplicate column names
assert all(map(lambda x: x==1, collections.Counter(merge_df.columns).values())), "You doubled up the column names somehow"

# Check for merge cycling
assert all([all(map(lambda x: not column_name.endswith(x), suffixes_list)) for column_name in merge_df.columns])

print(f'merge_df now has {merge_df.country_name.unique().shape[0]} unique countries')
print(sorted(merge_df.columns.tolist(), key=lambda x: x[::-1]))

In [ ]:

# Initialize the inkscape settings
eurasia_df['text_x'] = np.nan
eurasia_df['text_y'] = np.nan
eurasia_df ['font_size'] = 12
eurasia_df ['svg_width'] = 1867.787
eurasia_df ['svg_height'] = 916.003
eurasia_df ['inkscape_cx'] = 341.81217
eurasia_df ['inkscape_cy'] = 167.65197
eurasia_df ['inkscape_zoom'] = 1.9206455
eurasia_df ['legend_transform'] = 'translate(-12.768599,191.52893))'
eurasia_df ['colorbar_transform'] = 'matrix(1.478224,0,0,1.478224,1637.317,265.71569)'
eurasia_df['label_line_d'] = np.nan
def get_country_code(x):
    country_code = str(x).split(':')[-1]
    if country_code == 'nan':
        country_code = np.nan

    return country_code
eurasia_df['country_code'] = eurasia_df.iso_3166_2.map(get_country_code)

In [ ]:

# Compute the centroids
from svgpathtools import Line, Path
from shapely.geometry import Polygon
import math

# Convert paths to polygons
def path_to_poly(inpath):
    points = []
    for path in inpath:
        if isinstance(path, Line):
            points.append([path.end.real, path.end.imag])
        else:
            num_segments = math.ceil(path.length() / 1.0)
            for seg_i in range(int(num_segments + 1)):
                points.append([path.point(seg_i / num_segments).real,
                                path.point(seg_i / num_segments).imag])

    return Polygon(points)

import svgpathtools

eurasia_df['centroid_x'] = np.nan
eurasia_df['centroid_y'] = np.nan
mask_series = eurasia_df.outline_d.isnull()
for state_name, row_series in eurasia_df[~mask_series].iterrows():
    path_obj = svgpathtools.parse_path(pathdef=row_series.outline_d, current_pos=0j)
    poly_obj = path_to_poly(path_obj)
    eurasia_df.loc[state_name, 'centroid_x'] = poly_obj.centroid.x
    eurasia_df.loc[state_name, 'centroid_y'] = poly_obj.centroid.y

In [ ]:

# Set the text positions for each country
eurasia_df.text_x = eurasia_df.centroid_x
eurasia_df.text_y = eurasia_df.centroid_y
mask_series = (eurasia_df.country_code == 'AL')
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'BE')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'BY')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'ID')
eurasia_df.loc[mask_series, 'text_x'] = 1250.8167
eurasia_df.loc[mask_series, 'text_y'] = 794.68213
mask_series = (eurasia_df.country_code == 'IT')
eurasia_df.loc[mask_series, 'text_x'] = 312.67813
eurasia_df.loc[mask_series, 'text_y'] = 387.79126
mask_series = (eurasia_df.country_code == 'JP')
eurasia_df.loc[mask_series, 'text_x'] = 1415.007
eurasia_df.loc[mask_series, 'text_y'] = 463.56656
mask_series = (eurasia_df.country_code == 'JO')
eurasia_df.loc[mask_series, 'text_x'] = 534.21313
eurasia_df.loc[mask_series, 'text_y'] = 514.51532
mask_series = (eurasia_df.country_code == 'KW')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'LA')
eurasia_df.loc[mask_series, 'text_x'] = 1096.7466
eurasia_df.loc[mask_series, 'text_y'] = 613.78656
eurasia_df.loc[mask_series, 'font_size'] = 10
mask_series = (eurasia_df.country_code == 'LB')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'LU')
eurasia_df.loc[mask_series, 'text_x'] = 274.6127
eurasia_df.loc[mask_series, 'text_y'] = 346.93298
eurasia_df.loc[mask_series, 'font_size'] = 4
mask_series = (eurasia_df.country_code == 'MY')
eurasia_df.loc[mask_series, 'text_x'] = 1097.296
eurasia_df.loc[mask_series, 'text_y'] = 740.30682
mask_series = (eurasia_df.country_code == 'MD')
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'ME')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'NP')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'NL')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'MK')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'NO')
eurasia_df.loc[mask_series, 'text_x'] = 296.73975
eurasia_df.loc[mask_series, 'text_y'] = 253.39131
mask_series = (eurasia_df.country_code == 'OM')
eurasia_df.loc[mask_series, 'text_x'] = 695.00201
eurasia_df.loc[mask_series, 'text_y'] = 607.63654
mask_series = (eurasia_df.country_code == 'PH')
eurasia_df.loc[mask_series, 'text_x'] = 1260.7877
eurasia_df.loc[mask_series, 'text_y'] = 630.81744
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'PT')
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'QA')
eurasia_df.loc[mask_series, 'font_size'] = 4
mask_series = (eurasia_df.country_code == 'RS')
eurasia_df.loc[mask_series, 'font_size'] = 10
mask_series = (eurasia_df.country_code == 'SK')
eurasia_df.loc[mask_series, 'text_x'] = 383.66235
eurasia_df.loc[mask_series, 'text_y'] = 355.78854
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'SI')
eurasia_df.loc[mask_series, 'text_x'] = 343.6947
eurasia_df.loc[mask_series, 'text_y'] = 379.68457
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'LK')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'CH')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'TW')
eurasia_df.loc[mask_series, 'font_size'] = 6
mask_series = (eurasia_df.country_code == 'AE')
eurasia_df.loc[mask_series, 'text_x'] = 674.8313
eurasia_df.loc[mask_series, 'text_y'] = 576.52356
eurasia_df.loc[mask_series, 'font_size'] = 10
mask_series = (eurasia_df.country_code == 'GB')
eurasia_df.loc[mask_series, 'text_x'] = 195.78926
eurasia_df.loc[mask_series, 'text_y'] = 327.91925
eurasia_df.loc[mask_series, 'font_size'] = 10
mask_series = (eurasia_df.country_code == 'VN')
eurasia_df.loc[mask_series, 'text_x'] = 1111.8936
eurasia_df.loc[mask_series, 'text_y'] = 590.16235
eurasia_df.loc[mask_series, 'font_size'] = 8
mask_series = (eurasia_df.country_code == 'YE')
eurasia_df.loc[mask_series, 'text_x'] = 629.91254
eurasia_df.loc[mask_series, 'text_y'] = 639.30615

In [ ]:

# Get the correct size outlines
file_path = r'C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_codes_state_equivalent_district_abbreviation.svg'
root = et.parse(file_path).getroot()
rows_list = []
for el in root.iter():
    rows_list.append(el.attrib)
df = pd.DataFrame(rows_list).rename(columns={'d': 'outline_d', 'data-name': 'data_name'})
mask_series = df.data_name.isnull()
outline_d_dict = df[~mask_series].set_index('data_name').outline_d.to_dict()
outline_d_series = eurasia_df.country_name.map(lambda x: outline_d_dict.get(x, np.nan))
assert any(outline_d_series.isnull()) == False
eurasia_df.outline_d = outline_d_series
mask_series = eurasia_df.outline_d.isnull()
for state_name, row_series in eurasia_df[~mask_series].iterrows():
    path_obj = svgpathtools.parse_path(pathdef=row_series.outline_d, current_pos=0j)
    poly_obj = path_to_poly(path_obj)
    eurasia_df.loc[state_name, 'centroid_x'] = poly_obj.centroid.x
    eurasia_df.loc[state_name, 'centroid_y'] = poly_obj.centroid.y

In [38]:

# Extract the paths from the SVG
import xml.etree.ElementTree as et
import pandas as pd
import collections

file_path = r'C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_codes_state_equivalent_district_abbreviation.svg'
root = et.parse(file_path).getroot()
rows_list = []
for el in root.iter():
    rows_list.append(el.attrib)
df = pd.DataFrame(rows_list).rename(columns={'{http://www.w3.org/XML/1998/namespace}space': 'namespace',
                                             '{http://www.inkscape.org/namespaces/inkscape}version': 'inkscape_version',
                                             '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}docname':'docname',
                                             '{http://www.inkscape.org/namespaces/inkscape}pageshadow': 'pageshadow',
                                             '{http://www.inkscape.org/namespaces/inkscape}pageopacity': 'pageopacity',
                                             '{http://www.inkscape.org/namespaces/inkscape}pagecheckerboard': 'pagecheckerboard',
                                             '{http://www.inkscape.org/namespaces/inkscape}zoom': 'zoom',
                                             '{http://www.inkscape.org/namespaces/inkscape}cx': 'cx',
                                             '{http://www.inkscape.org/namespaces/inkscape}cy': 'cy',
                                             '{http://www.inkscape.org/namespaces/inkscape}window-width': 'window_width',
                                             '{http://www.inkscape.org/namespaces/inkscape}window-height': 'window_height',
                                             '{http://www.inkscape.org/namespaces/inkscape}window-x': 'window_x',
                                             '{http://www.inkscape.org/namespaces/inkscape}window-y': 'window_y',
                                             '{http://www.inkscape.org/namespaces/inkscape}window-maximized': 'window_maximized',
                                             '{http://www.inkscape.org/namespaces/inkscape}current-layer': 'current_layer',
                                             'id': 'tag_id',
                                             'd': 'outline_d',
                                             '{http://www.inkscape.org/namespaces/inkscape}connector-curvature': 'connector_curvature',
                                             '{http://www.w3.org/1999/02/22-rdf-syntax-ns#}about': 'about',
                                             '{http://www.w3.org/1999/02/22-rdf-syntax-ns#}resource': 'resource',
                                             '{http://www.inkscape.org/namespaces/inkscape}label': 'label',
                                             '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}role': 'role',
                                             '{http://www.w3.org/1999/xlink}href': 'href',
                                             '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}insensitive': 'insensitive'})
df.columns = df.columns.map(lambda x: x.replace('-', '_'))
assert all(map(lambda x: x==1, collections.Counter(df.columns).values())), "You doubled up the column names somehow"
sorted(df.columns.tolist())

['about', 'bordercolor', 'borderopacity', 'clip_path', 'connector_curvature', 'current_layer', 'cx', 'cy', 'data_id', 'data_name', 'docname', 'height', 'href', 'inkscape_version', 'label', 'namespace', 'outline_d', 'pagecheckerboard', 'pagecolor', 'pageopacity', 'pageshadow', 'resource', 'role', 'showgrid', 'style', 'tag_id', 'transform', 'type', 'version', 'viewBox', 'width', 'window_height', 'window_maximized', 'window_width', 'window_x', 'window_y', 'x', 'y', 'zoom']

In [ ]:

# Compute the centroids
from svgpathtools import Line, Path
from shapely.geometry import Polygon
import math
import svgpathtools

# Convert paths to polygons
def path_to_poly(inpath):
    points = []
    for path in inpath:
        if isinstance(path, Line):
            points.append([path.end.real, path.end.imag])
        else:
            num_segments = math.ceil(path.length() / 1.0)
            for seg_i in range(int(num_segments + 1)):
                points.append([path.point(seg_i / num_segments).real,
                                path.point(seg_i / num_segments).imag])
    
    return Polygon(points)

eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.outline_d.isnull()
for state_name, row_series in eurasia_df[~mask_series].iterrows():
    path_obj = svgpathtools.parse_path(pathdef=row_series.outline_d, current_pos=0j)
    poly_obj = path_to_poly(path_obj)
    eurasia_df.loc[state_name, 'centroid_x'] = poly_obj.centroid.x
    eurasia_df.loc[state_name, 'centroid_y'] = poly_obj.centroid.y
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [42]:

mask_series = df.data_name.isnull()
print(df[~mask_series].data_name.tolist())
df[mask_series].sample(min(8, df[mask_series].shape[0])).dropna(axis='columns', how='all').T

['Yemen', 'Viet Nam', 'Uzbekistan', 'United Kingdom of Great Britain and Northern Ireland', 'United Arab Emirates', 'Ukraine', 'Turkmenistan', 'Turkey', 'Thailand', 'Tajikistan', 'Taiwan, Province of China', 'Syrian Arab Republic', 'Switzerland', 'Sweden', 'Sri Lanka', 'Spain', 'Slovenia', 'Slovakia', 'Serbia', 'Saudi Arabia', 'Russian Federation', 'Romania', 'Qatar', 'Portugal', 'Poland', 'Philippines', 'Papua New Guinea', 'Pakistan', 'Oman', 'Norway', 'North Macedonia', 'Netherlands', 'Nepal', 'Myanmar', 'Montenegro', 'Mongolia', 'Moldova, Republic of', 'Malaysia', 'Luxembourg', 'Lithuania', 'Lebanon', 'Latvia', "Lao People's Democratic Republic", 'Kyrgyzstan', 'Kuwait', 'Korea, Republic of', "Korea (Democratic People's Republic of)", 'Kazakhstan', 'Jordan', 'Japan', 'Italy', 'Israel', 'Ireland', 'Iraq', 'Iran (Islamic Republic of)', 'Indonesia', 'India', 'Iceland', 'Hungary', 'Greece', 'Germany', 'Georgia', 'France', 'Finland', 'Estonia', 'Denmark', 'Czechia', 'Croatia', 'China', 'Cambodia', 'Bulgaria', 'Brunei Darussalam', 'Bosnia and Herzegovina', 'Bhutan', 'Belgium', 'Belarus', 'Bangladesh', 'Azerbaijan', 'Austria', 'Armenia', 'Albania', 'Afghanistan']

,326,362,329,283,348,306,131,356
width,NaN,100%,NaN,NaN,NaN,NaN,NaN,100%
height,NaN,100%,NaN,NaN,NaN,NaN,NaN,100%
tag_id,colorbar_7_text,colorbar_12974_use,DejaVuSans-33,colorbar_12852_defs,DejaVuSans-76,colorbar_12891_g,text-saudi-arabia,colorbar_12962_use
outline_d,NaN,NaN,"m 2597,2516 q 453,-97 707,-404 255,-306 255,-7...",NaN,"M 191,3500 H 800 L 1894,563 2988,3500 h 609 L ...",NaN,NaN,NaN
style,NaN,NaN,NaN,NaN,NaN,NaN,font-style:normal;font-variant:normal;font-wei...,NaN
x,NaN,604.58984,NaN,NaN,NaN,NaN,971.06683,308.10547
y,NaN,0,NaN,NaN,NaN,NaN,645.21332,0
label,NaN,NaN,NaN,NaN,NaN,NaN,Saudi Arabia district abbreviation,NaN
namespace,NaN,NaN,NaN,NaN,NaN,NaN,preserve,NaN
transform,NaN,NaN,scale(0.015625),NaN,scale(0.015625),NaN,NaN,NaN
href,NaN,#DejaVuSans-20,NaN,NaN,NaN,NaN,NaN,#DejaVuSans-20

In [40]:

import sys

# Insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, osp.join(os.pardir, 'py'))

from storage import Storage
from stats_scraping_utils import StatsScrapingUtilities

s = Storage()
ssu = StatsScrapingUtilities(s=s)
column_descriptions_df = ssu.get_column_descriptions(df)
column_descriptions_df.sort_values(['count_uniques'], ascending=[False])

,column_name,dtype,count_blanks,count_uniques,count_zeroes,has_dates,min_value,max_value,only_integers
4,tag_id,object,4,373,0,False,DejaVuSans-20,tspan-yemen0,NaN
24,outline_d,object,268,108,0,False,,"m 983.33239,538.83155 c 2.86996,-3.32901 5.327...",NaN
31,label,object,293,84,0,False,Adjacent Country Backgrounds,Yemen district abbreviation,NaN
33,data_name,object,294,83,0,False,Afghanistan,Yemen,NaN
32,data_id,object,294,83,0,False,AE,YE,NaN
25,style,object,198,43,0,False,display:inline;fill:#c8eafb;stroke-width:2.73218,stroke:#000000;stroke-width:0.80000001;stroke-...,NaN
29,x,object,169,37,0,False,0,995.68799,False
38,href,object,334,24,0,False,#DejaVuSans-20,"data:image/png;base64, iVBORw0KGgoAAAANSUhEUgA...",NaN
30,y,object,169,21,0,False,-52,645.21332,False
36,transform,object,345,12,0,False,"matrix(0,-0.1,-0.1,0,96.123438,273.24891)","translate(1665.5921,409.56979)",NaN
3,height,object,332,5,0,False,100%,916.0025,NaN
1,width,object,332,5,0,False,100%,683.62434,NaN
34,namespace,object,294,2,0,False,preserve,preserve,NaN
35,role,object,294,2,0,False,line,line,NaN
21,pagecolor,object,375,2,0,False,#ffffff,#ffffff,NaN
28,resource,object,375,2,0,False,http://purl.org/dc/dcmitype/StillImage,http://purl.org/dc/dcmitype/StillImage,NaN
27,about,object,375,2,0,False,,,NaN
26,connector_curvature,object,293,2,0,False,0,0,False
37,clip_path,object,375,2,0,False,url(#pfc3824329a),url(#pfc3824329a),NaN
23,type,object,375,2,0,False,text/css,text/css,NaN
22,showgrid,object,375,2,0,False,false,false,NaN
0,docname,object,375,2,0,False,AF_codes_state_equivalent_district_abbreviatio...,AF_codes_state_equivalent_district_abbreviatio...,NaN
20,zoom,object,375,2,0,False,0.70297096,0.70297096,False
10,cx,object,375,2,0,False,933.89349,933.89349,False
2,viewBox,object,375,2,0,False,0 0 683.62434 335.26391,0 0 683.62434 335.26391,NaN
5,version,object,375,2,0,False,1.0,1.0,False
6,inkscape_version,object,375,2,0,False,"1.1.2 (b8e25be833, 2022-02-05)","1.1.2 (b8e25be833, 2022-02-05)",NaN
7,bordercolor,object,375,2,0,False,#666666,#666666,NaN
8,borderopacity,object,375,2,0,False,1.0,1.0,False
9,current_layer,object,375,2,0,False,svg,svg,NaN
11,cy,object,375,2,0,False,458.05591,458.05591,False
18,window_x,object,375,2,0,False,-9,-9,False
12,pagecheckerboard,object,375,2,0,False,0,0,False
13,pageopacity,object,375,2,0,False,0.0,0.0,False
14,pageshadow,object,375,2,0,False,2,2,False
15,window_height,object,375,2,0,False,991,991,False
16,window_maximized,object,375,2,0,False,1,1,False
17,window_width,object,375,2,0,True,1920,1920,False
19,window_y,object,375,2,0,False,-9,-9,False

In [8]:

eurasia_df = s.load_object('eurasia_df')

column_descriptions_df = ssu.get_column_descriptions(eurasia_df)
# mask_series = (column_descriptions_df.dtype == 'object')
column_descriptions_df.sort_values(['count_uniques'], ascending=[False])

,column_name,dtype,count_blanks,count_uniques,count_zeroes,has_dates,min_value,max_value,only_integers
51,country_code,object,0,82,0,False,AE,YE,NaN
15,country_name,object,0,82,0,False,Afghanistan,Yemen,NaN
48,outline_d,object,0,82,0,False,"M 5.3057917,76.885976 C 6.0117246,76.009207 7....","m 99.563364,127.16816 c 0.499796,-0.63533 -0.8...",NaN
25,fr_country_name,object,0,82,0,False,Afghanistan,Yemen,NaN
21,wikipedia_title,object,0,82,0,False,Afghanistan,Yemen,NaN
20,wikipedia_url,object,0,82,0,False,https://en.wikipedia.org/wiki/Afghanistan,https://en.wikipedia.org/wiki/Yemen,NaN
18,iso_3166_2,object,0,82,0,False,ISO 3166-2:AE,ISO 3166-2:YE,NaN
17,cc_tld,object,0,82,0,False,.ae,.ye,NaN
2,imf_estimate,float64,12,71,0,True,2480.0,16862979.0,False
4,un_estimate,float64,12,71,0,True,2483.0,14722801.0,False
6,wb_estimate,float64,12,71,0,True,2409.0,14722731.0,False
50,state_equivalent_gdp,object,12,32,0,False,Alabama,Wyoming,NaN
19,code_notes,object,52,31,0,False,Code taken from Great Britain (from official n...,SK previously represented Sikkim,NaN
0,year_code_established,int64,0,5,0,True,1974,2006,True
16,country_region,object,12,4,0,False,Asia,Oceania,NaN
7,wb_year,float64,12,4,0,True,2018.0,2020.0,False
3,imf_year,float64,12,3,0,True,2020.0,2021.0,False
5,un_year,float64,12,2,0,True,2020.0,2020.0,False
22,intra_country_borders_d,object,81,2,0,False,"m 920.059,219.437 c 0.126,1.93 0.2,3.878 -0.03...","m 920.059,219.437 c 0.126,1.93 0.2,3.878 -0.03...",NaN
14,text_y,float64,82,1,0,False,NaN,NaN,False
42,window-width,object,82,1,0,False,NaN,NaN,False
37,pagecheckerboard,object,82,1,0,False,NaN,NaN,False
38,pageopacity,object,82,1,0,False,NaN,NaN,False
39,pageshadow,object,82,1,0,False,NaN,NaN,False
40,window-height,object,82,1,0,False,NaN,NaN,False
41,window-maximized,object,82,1,0,False,NaN,NaN,False
44,window-y,object,82,1,0,False,NaN,NaN,False
43,window-x,object,82,1,0,False,NaN,NaN,False
35,cx,object,82,1,0,False,NaN,NaN,False
45,zoom,object,82,1,0,False,NaN,NaN,False
46,pagecolor,object,82,1,0,False,NaN,NaN,False
47,showgrid,object,82,1,0,False,NaN,NaN,False
49,style,object,0,1,0,False,fill:#fdfcea;stroke:#656565;stroke-width:0.352...,fill:#fdfcea;stroke:#656565;stroke-width:0.352...,NaN
36,cy,object,82,1,0,False,NaN,NaN,False
33,borderopacity,object,82,1,0,False,NaN,NaN,False
34,current-layer,object,82,1,0,False,NaN,NaN,False
24,height,object,82,1,0,False,NaN,NaN,False
12,inkscape_zoom,float64,0,1,0,True,1.920646,1.920646,False
11,inkscape_cy,float64,0,1,0,True,167.65197,167.65197,False
10,inkscape_cx,float64,0,1,0,True,341.81217,341.81217,False
9,svg_width,float64,0,1,0,True,683.62434,683.62434,False
8,svg_height,float64,0,1,0,True,335.26391,335.26391,False
23,legend_transform,object,0,1,0,False,"translate(657.16168,-31.221107)","translate(657.16168,-31.221107)",NaN
1,font_size,int64,0,1,0,True,12,12,True
13,text_x,float64,82,1,0,False,NaN,NaN,False
27,docname,object,82,1,0,False,NaN,NaN,False
28,version,object,82,1,0,False,NaN,NaN,False
29,viewBox,object,82,1,0,False,NaN,NaN,False
30,width,object,82,1,0,False,NaN,NaN,False
31,namespace,object,82,1,0,False,NaN,NaN,False
32,bordercolor,object,82,1,0,False,NaN,NaN,False
26,inkscape_version,object,82,1,0,False,NaN,NaN,False

In [30]:

eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.state_equivalent_gdp.isnull()
# s.store_objects(eurasia_df=eurasia_df)
print(eurasia_df[mask_series].country_name.tolist())
columns_list = ['country_name', 'country_region', 'imf_estimate', 'imf_year', 'un_estimate', 'un_year', 'wb_estimate', 'wb_year']
eurasia_df[mask_series][columns_list]

[]

Empty DataFrame
Columns: [country_name, country_region, imf_estimate, imf_year, un_estimate, un_year, wb_estimate, wb_year]
Index: []

In [29]:

eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.state_equivalent_gdp.isnull()
COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in eurasia_df[mask_series].iterrows()]

# Get the gdp equivalents
gdp_us_states_df = s.load_object('gdp_us_states_df')
state_tuples_list = [(r.state_name, r.gdp_millions_usd_2021) for i, r in gdp_us_states_df.iterrows() if str(r.state_name) != 'nan']
for country_tuple in COUNTRY_TUPLES_LIST:
    candidate_tuple = sorted([s for s in state_tuples_list], key=lambda x: abs(x[1] - country_tuple[1]))[0]
    state_name = candidate_tuple[0]
    country_name = country_tuple[0]
    print(f'{country_name} is close to the GDP of {state_name}')
    mask_series = (eurasia_df.country_name == country_name)
    eurasia_df.loc[mask_series, 'state_equivalent_gdp'] = state_name
s.store_objects(eurasia_df=eurasia_df)

Moldova, Republic of is close to the GDP of Vermont
Czechia is close to the GDP of Alabama
United Kingdom of Great Britain and Northern Ireland is close to the GDP of California
Russian Federation is close to the GDP of Florida
Syrian Arab Republic is close to the GDP of Rhode Island
Iran (Islamic Republic of) is close to the GDP of Nevada
Viet Nam is close to the GDP of South Carolina
Lao People's Democratic Republic is close to the GDP of Vermont
Brunei Darussalam is close to the GDP of Vermont
Taiwan, Province of China is close to the GDP of Washington
Korea (Democratic People's Republic of) is close to the GDP of Vermont
Korea, Republic of is close to the GDP of New York
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [19]:

eurasia_df = s.load_object('eurasia_df')
mask_series = (eurasia_df.state_equivalent_gdp == 'District of Columbia')
COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in eurasia_df[mask_series].iterrows()]

# Get the gdp equivalents
gdp_us_states_df = s.load_object('gdp_us_states_df')
state_tuples_list = [(r.state_name, r.gdp_millions_usd_2021) for i, r in gdp_us_states_df.iterrows() if str(r.state_name) != 'District of Columbia']
for country_tuple in COUNTRY_TUPLES_LIST:
    candidate_tuple = sorted([s for s in state_tuples_list], key=lambda x: abs(x[1] - country_tuple[1]))[0]
    state_name = candidate_tuple[0]
    country_name = country_tuple[0]
    print(f'{country_name} is close to the GDP of {state_name}')
    mask_series = (eurasia_df.country_name == country_name)
    eurasia_df.loc[mask_series, 'state_equivalent_gdp'] = state_name
s.store_objects(eurasia_df=eurasia_df)

Ukraine is close to the GDP of Nebraska
Hungary is close to the GDP of Nebraska
Iraq is close to the GDP of Nebraska
Kazakhstan is close to the GDP of Nebraska
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [31]:

import numpy as np

eurasia_df = s.load_object('eurasia_df')
color_names_dict = {'green': '#aad5aa', 'purple': '#ffd5aa', 'orange': '#c1d5ff', 'pink': '#ffffaa', 'yellow': '#d5ffff'}
eurasia_df['country_color'] = np.nan
s.store_objects(eurasia_df=eurasia_df, map_color_names_dict=color_names_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\map_color_names_dict.pickle

In [9]:

# Extract the paths from the SVG
import xml.etree.ElementTree as et
import pandas as pd

file_path = r'C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_district_abbreviation.svg'
root = et.parse(file_path).getroot()
rows_list = []
for el in root.iter():
    rows_list.append(el.attrib)
df = pd.DataFrame(rows_list).rename(columns={
    'width': 'svg_width',
    '{http://www.inkscape.org/namespaces/inkscape}version': 'inkscape_version',
    'height': 'svg_height',
    'id': 'svg_id',
    '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}docname': 'sodipodi_docname',
    'version': 'svg_version',
    'viewBox': 'svg_viewBox',
    'bordercolor': 'svg_bordercolor',
    'borderopacity': 'svg_borderopacity',
    '{http://www.inkscape.org/namespaces/inkscape}current-layer': 'inkscape_current_layer',
    '{http://www.inkscape.org/namespaces/inkscape}cx': 'inkscape_cx',
    '{http://www.inkscape.org/namespaces/inkscape}cy': 'inkscape_cy',
    '{http://www.inkscape.org/namespaces/inkscape}pagecheckerboard': 'inkscape_pagecheckerboard',
    '{http://www.inkscape.org/namespaces/inkscape}pageopacity': 'inkscape_pageopacity',
    '{http://www.inkscape.org/namespaces/inkscape}pageshadow': 'inkscape_pageshadow',
    '{http://www.inkscape.org/namespaces/inkscape}window-height': 'inkscape_window_height',
    '{http://www.inkscape.org/namespaces/inkscape}window-maximized': 'inkscape_window_maximized',
    '{http://www.inkscape.org/namespaces/inkscape}window-width': 'inkscape_window_width',
    '{http://www.inkscape.org/namespaces/inkscape}window-x': 'inkscape_window_x',
    '{http://www.inkscape.org/namespaces/inkscape}window-y': 'inkscape_window_y',
    '{http://www.inkscape.org/namespaces/inkscape}zoom': 'inkscape_zoom',
    'pagecolor': 'svg_pagecolor',
    'showgrid': 'svg_showgrid',
    'type': 'svg_type',
    'd': 'svg_d',
    'style': 'svg_style',
    '{http://www.inkscape.org/namespaces/inkscape}connector-curvature': 'inkscape_connector_curvature',
    '{http://www.w3.org/1999/02/22-rdf-syntax-ns#}about': 'rdf_about',
    '{http://www.w3.org/1999/02/22-rdf-syntax-ns#}resource': 'rdf_resource',
    'x': 'svg_x',
    'y': 'svg_y',
    '{http://www.inkscape.org/namespaces/inkscape}label': 'inkscape_label',
    '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}insensitive': 'sodipodi_insensitive',
    'data-id': 'svg_data_id',
    'data-name': 'svg_data_name',
    '{http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd}role': 'sodipodi_role'})

In [21]:

%run ../load_magic/storage.py
%pprint
s = Storage()

Pretty printing has been turned OFF

In [23]:

mask_series = df.svg_data_name.isnull()
country_color_dict = df[~mask_series].set_index('svg_data_name').svg_style.map(lambda x: str(x).split('fill:')[-1].split(';')[0]).to_dict()
s.store_objects(eurasia_country_name_color_dict=country_color_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_country_name_color_dict.pickle

In [27]:

mask_series = df.svg_data_name.isnull()
country_color_dict = df[~mask_series].set_index('svg_data_id').svg_style.map(lambda x: str(x).split('fill:')[-1].split(';')[0]).to_dict()
s.store_objects(eurasia_country_code_color_dict=country_color_dict)
country_color_dict

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_country_code_color_dict.pickle

{'YE': '#fef9b7', 'VN': '#fad5dc', 'UZ': '#fef9b7', 'GB': '#f1c8b2', 'AE': '#d5c9e1', 'UA': '#fef9b7', 'TM': '#fad5dc', 'TR': '#fad5dc', 'TH': '#fef9b7', 'TJ': '#f1c8b2', 'TW': '#aad5aa', 'SY': '#fef9b7', 'CH': '#aad5aa', 'SE': '#fad5dc', 'LK': '#aad5aa', 'ES': '#fef9b7', 'SI': '#f1c8b2', 'SK': '#aad5aa', 'RS': '#fad5dc', 'SA': '#aad5aa', 'RU': '#aad5aa', 'RO': '#f1c8b2', 'QA': '#fad5dc', 'PT': '#f1c8b2', 'PL': '#d5c9e1', 'PH': '#d5c9e1', 'PG': '#fef9b7', 'PK': '#d5c9e1', 'OM': '#f1c8b2', 'NO': '#d5c9e1', 'MK': '#d5c9e1', 'NL': '#fad5dc', 'NP': '#d5c9e1', 'MM': '#d5c9e1', 'ME': '#aad5aa', 'MN': '#f1c8b2', 'MD': '#d5c9e1', 'MY': '#aad5aa', 'LU': '#fef9b7', 'LT': '#f1c8b2', 'LB': '#aad5aa', 'LV': '#d5c9e1', 'LA': '#aad5aa', 'KG': '#fad5dc', 'KW': '#d5c9e1', 'KR': '#fad5dc', 'KP': '#d5c9e1', 'KZ': '#d5c9e1', 'JO': '#d5c9e1', 'JP': '#f1c8b2', 'IT': '#fad5dc', 'IL': '#fad5dc', 'IE': '#fef9b7', 'IQ': '#f1c8b2', 'IR': '#fef9b7', 'ID': '#f1c8b2', 'IN': '#fad5dc', 'IS': '#aad5aa', 'HU': '#d5c9e1', 'GR': '#aad5aa', 'DE': '#f1c8b2', 'GE': '#d5c9e1', 'FR': '#d5c9e1', 'FI': '#f1c8b2', 'EE': '#fef9b7', 'DK': '#fef9b7', 'CZ': '#fad5dc', 'HR': '#aad5aa', 'CN': '#fef9b7', 'KH': '#f1c8b2', 'BG': '#fef9b7', 'BN': '#fef9b7', 'BA': '#fef9b7', 'BT': '#f1c8b2', 'BE': '#aad5aa', 'BY': '#fad5dc', 'BD': '#aad5aa', 'AZ': '#f1c8b2', 'AT': '#fef9b7', 'AM': '#aad5aa', 'AL': '#f1c8b2', 'AF': '#aad5aa'}

In [28]:

df[~mask_series].sample(6).dropna(axis='columns', how='all').T

,87,52,46,84,89,49
svg_id,district-belarus,district-lebanon,district-montenegro,district-bosnia-and-herzegovina,district-azerbaijan,district-malaysia
svg_d,"m 423.80163,309.65117 c 1.86701,0.37418 3.9886...","m 529.42316,476.15526 c 1.32312,0.31631 5.0494...","m 388.11997,413.11639 c -2.2605,-0.22377 -2.49...","m 373.36512,404.39078 c -0.81007,-0.54775 0.82...","m 640.63035,443.43616 c -1.73587,-1.28068 -4.1...","m 1097.0816,719.07212 c 2.8044,0.0385 3.9694,2..."
svg_style,stroke-width:1;fill:#fad5dc;fill-opacity:1,stroke-width:1;fill:#aad5aa;fill-opacity:1,stroke-width:1;fill:#aad5aa;fill-opacity:1,stroke-width:1;fill:#fef9b7;fill-opacity:1,stroke-width:1;fill:#f1c8b2;fill-opacity:1,fill:#aad5aa;fill-opacity:1;stroke-width:1
inkscape_connector_curvature,0,0,0,0,0,0
sodipodi_insensitive,NaN,NaN,NaN,NaN,NaN,true
svg_data_id,BY,LB,ME,BA,AZ,MY
svg_data_name,Belarus,Lebanon,Montenegro,Bosnia and Herzegovina,Azerbaijan,Malaysia

In [29]:

eurasia_df = s.load_object('eurasia_df')
eurasia_df.country_color = eurasia_df.country_code.map(lambda x: country_color_dict.get(x, '#f9f9f9'))
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [56]:

columns_list = ['country_name', 'country_code', 'state_equivalent_gdp', 'country_color']
eurasia_df[columns_list].groupby(['state_equivalent_gdp',
                                  'country_color']).count().reset_index().groupby(['state_equivalent_gdp']).agg({'country_color': 'max'})

                 country_color
state_equivalent_gdp
Alabama                #fad5dc
Alaska                 #fad5dc
Arizona                #fad5dc
Arkansas               #fad5dc
California             #fef9b7
Colorado               #fef9b7
Connecticut            #aad5aa
Delaware               #aad5aa
Florida                #fef9b7
Georgia                #aad5aa
Illinois               #fad5dc
Iowa                   #f1c8b2
Maine                  #fef9b7
Maryland               #fef9b7
Michigan               #fad5dc
Mississippi            #d5c9e1
Missouri               #fef9b7
Montana                #fef9b7
Nebraska               #fef9b7
Nevada                 #fef9b7
New Mexico             #aad5aa
New York               #fad5dc
North Dakota           #fef9b7
Ohio                   #fad5dc
Oregon                 #d5c9e1
Rhode Island           #fef9b7
South Carolina         #fad5dc
Tennessee              #fef9b7
Texas                  #fad5dc
Vermont                #fef9b7
Virginia               #d5c9e1
Washington             #aad5aa
Wyoming                #fad5dc

In [36]:

columns_list = ['country_name', 'country_code', 'state_equivalent_gdp', 'country_color']
eurasia_df.groupby(['state_equivalent_gdp', 'country_color']).count().sort_values(['country_name'], ascending=False).country_name

state_equivalent_gdp  country_color
Vermont           #aad5aa          6
                  #d5c9e1          6
                  #fef9b7          5
                  #f1c8b2          5
California        #f1c8b2          3
Nebraska          #d5c9e1          2
Alaska            #f1c8b2          2
Missouri          #d5c9e1          2
New York          #fad5dc          2
Ohio              #fad5dc          1
                  #aad5aa          1
North Dakota      #fef9b7          1
New Mexico        #aad5aa          1
Rhode Island      #fef9b7          1
Nevada            #fef9b7          1
                  #aad5aa          1
Nebraska          #fef9b7          1
Oregon            #d5c9e1          1
Alabama           #f1c8b2          1
South Carolina    #f1c8b2          1
                  #fad5dc          1
Tennessee         #d5c9e1          1
Nebraska          #f1c8b2          1
Texas             #d5c9e1          1
                  #fad5dc          1
Vermont           #fad5dc          1
Virginia          #d5c9e1          1
Washington        #aad5aa          1
Wyoming           #d5c9e1          1
                  #f1c8b2          1
Tennessee         #fef9b7          1
Montana           #fef9b7          1
Alabama           #fad5dc          1
Montana           #fad5dc          1
Alaska            #aad5aa          1
                  #fad5dc          1
Arizona           #fad5dc          1
Arkansas          #fad5dc          1
California        #fef9b7          1
Colorado          #fef9b7          1
Connecticut       #aad5aa          1
Delaware          #aad5aa          1
Florida           #aad5aa          1
                  #fef9b7          1
Georgia           #aad5aa          1
Illinois          #f1c8b2          1
                  #fad5dc          1
Iowa              #f1c8b2          1
Maine             #d5c9e1          1
                  #f1c8b2          1
                  #fef9b7          1
Maryland          #fef9b7          1
Michigan          #aad5aa          1
                  #fad5dc          1
Mississippi       #d5c9e1          1
Missouri          #aad5aa          1
                  #fef9b7          1
Wyoming           #fad5dc          1
Name: country_name, dtype: int64


----
# Add military expenditures

In [ ]:

from pandas import DataFrame

In [59]:

import pandas as pd

url = 'https://worldpopulationreview.com/5a290b41-948f-47a6-aebb-61fea60e1580'
file_path = '../data/csv/military_expendatures_by_country_2021.csv'
military_expenditures_df = pd.read_csv(file_path).rename(columns={
    'country': 'country_name',
    'spending': 'military_spending_usd_2021',
    'pop2022': 'population_2022'})
mask_series = (military_expenditures_df.country_name == 'Vietnam')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Viet Nam'
mask_series = (military_expenditures_df.country_name == 'Czech Republic')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Czechia'
mask_series = (military_expenditures_df.country_name == 'Syria')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Syrian Arab Republic'
mask_series = (military_expenditures_df.country_name == 'Iran')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Iran (Islamic Republic of)'
mask_series = (military_expenditures_df.country_name == 'South Korea')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Korea, Republic of'
mask_series = (military_expenditures_df.country_name == 'North Korea')
military_expenditures_df.loc[mask_series, 'country_name'] = "Korea (Democratic People's Republic of)"
mask_series = (military_expenditures_df.country_name == 'Moldova')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Moldova, Republic of'
mask_series = (military_expenditures_df.country_name == 'Laos')
military_expenditures_df.loc[mask_series, 'country_name'] = "Lao People's Democratic Republic"
mask_series = (military_expenditures_df.country_name == 'Russia')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Russian Federation'
mask_series = (military_expenditures_df.country_name == 'United Kingdom')
military_expenditures_df.loc[mask_series, 'country_name'] = 'United Kingdom of Great Britain and Northern Ireland'
mask_series = (military_expenditures_df.country_name == 'Taiwan')
military_expenditures_df.loc[mask_series, 'country_name'] = 'Taiwan, Province of China'
military_expenditures_df = pd.concat([military_expenditures, DataFrame([
    {'country_name': 'Iceland', 'military_spending_usd_2021': 0, 'population_2022': 344_727},
    {'country_name': 'Brunei Darussalam', 'military_spending_usd_2021': 410_000_000, 'population_2022': 444_480},
    {'country_name': 'Luxembourg', 'military_spending_usd_2021': 430_000_000, 'population_2022': 625_978},

    # Percent of GDP: 1.4 (2005 est.)
    {'country_name': 'Papua New Guinea', 'military_spending_usd_2021': 4_870_000_000*0.014, 'population_2022': 8_950_000}
    
]])).reset_index(drop=True)
s.store_objects(military_expenditures_df=military_expenditures_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\military_expenditures_df.pickle

In [60]:

military_expenditures_df

,country_name,military_spending_usd_2021,population_2022
0,United States,7.500000e+11,334805.269
1,China,2.370000e+11,1448471.400
2,Saudi Arabia,6.760000e+10,35844.909
3,India,6.100000e+10,1406631.776
4,United Kingdom of Great Britain and Northern I...,5.510000e+10,68497.907
...,...,...,...
136,Belarus,6.237000e+02,9432.800
137,Iceland,0.000000e+00,344727.000
138,Brunei Darussalam,4.100000e+08,444480.000
139,Luxembourg,4.300000e+08,625978.000
140,Papua New Guinea,6.818000e+07,8950000.000

In [62]:

%run ../load_magic/lists.py
df = check_for_typos(eurasia_df.country_name.tolist(), military_expenditures_df.country_name.tolist(), verbose=False)
mask_series = (df.max_similarity < 1.0)
df[mask_series].sort_values('max_similarity', ascending=False).head(20)

Empty DataFrame
Columns: [left_item, right_item, max_similarity]
Index: []

In [63]:

eurasia_df = s.load_object('eurasia_df')
eurasia_df = eurasia_df.merge(military_expenditures_df, on=['country_name'], how='left')
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [57]:

eurasia_df = s.load_object('eurasia_df').rename(columns={
    'state_equivalent': 'state_equivalent_gdp'})
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [58]:

eurasia_df = s.load_object('eurasia_df').rename(columns={'spending_usd_2021': 'military_spending_usd_2021'})
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle


----
# Create a Military-expenditures Equivalent Column

In [18]:

eurasia_df = s.load_object('eurasia_df')
# eurasia_df.columns.tolist()
columns_list = ['country_name', 'country_region', 'military_spending_usd_2021']
eurasia_df[columns_list]

,country_name,country_region,military_spending_usd_2021
0,Montenegro,Europe,6.500000e+07
1,Slovenia,Europe,5.810000e+08
2,Croatia,Europe,8.000000e+08
3,Serbia,Europe,9.070000e+08
4,North Macedonia,Europe,1.081500e+08
...,...,...,...
77,China,Asia,2.370000e+11
78,Japan,Asia,4.900000e+10
79,"Taiwan, Province of China",NaN,1.072500e+10
80,Korea (Democratic People's Republic of),NaN,1.600000e+09
81,"Korea, Republic of",NaN,4.400000e+10

In [68]:

# Get the military expenditure equivalents
import numpy as np

eurasia_df = s.load_object('eurasia_df')
COUNTRY_TUPLES_LIST = [(r.country_name, r.military_spending_usd_2021) for i, r in eurasia_df.iterrows()]
us_stats_df = s.load_object('us_stats_df')
state_tuples_list = [(r.state_name, r.gdp_proportion_of_military_expenditures_2021) for i,
                     r in us_stats_df.reset_index().iterrows() if r.state_name != 'District of Columbia']
rows_list = []
for country_tuple in COUNTRY_TUPLES_LIST:
    candidate_tuple = sorted([s for s in state_tuples_list], key=lambda x: abs(x[1] - country_tuple[1]))[0]
    state_name = candidate_tuple[0]
    country_name = country_tuple[0]
    # print(f'{country_name} is close to the military expenditure of {state_name}')
    row_dict = {}
    row_dict['country_name'] = country_name
    row_dict['state_name'] = state_name
    rows_list.append(row_dict)
country_to_state_mee_dict = pd.DataFrame(rows_list).set_index('country_name').state_name.to_dict()
eurasia_df['state_equivalent_military_expenditure'] = eurasia_df.country_name.map(lambda x: country_to_state_mee_dict.get(x, np.nan))
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [67]:

eurasia_df = s.load_object('eurasia_df')
columns_list = ['country_name', 'state_equivalent_gdp', 'state_equivalent_military_expenditure']
eurasia_df.groupby(['state_equivalent_gdp', 'state_equivalent_military_expenditure']).count().country_name.sort_values(ascending=False)

state_equivalent_gdp  state_equivalent_military_expenditure
Vermont               Vermont                                  17
Alaska                Vermont                                   4
Vermont               Alaska                                    2
Montana               Vermont                                   2
California            Florida                                   2
Vermont               Wyoming                                   2
Alabama               District of Columbia                      1
Oregon                Missouri                                  1
Ohio                  Virginia                                  1
                      Nebraska                                  1
North Dakota          Vermont                                   1
New York              Florida                                   1
                      Pennsylvania                              1
South Carolina        District of Columbia                      1
New Mexico            Rhode Island                              1
Nevada                Virginia                                  1
                      Arkansas                                  1
Rhode Island          Alaska                                    1
Tennessee             Vermont                                   1
South Carolina        New Mexico                                1
Tennessee             Georgia                                   1
Nebraska              Mississippi                               1
Texas                 Florida                                   1
                      New York                                  1
Vermont               Maine                                     1
                      Wisconsin                                 1
Virginia              Wisconsin                                 1
Washington            Connecticut                               1
Wyoming               Delaware                                  1
                      Vermont                                   1
Nebraska              Rhode Island                              1
                      Alaska                                    1
                      District of Columbia                      1
Illinois              Wisconsin                                 1
Arizona               Virginia                                  1
Arkansas              Nevada                                    1
California            California                                1
                      New York                                  1
Colorado              New Mexico                                1
Connecticut           New Mexico                                1
Delaware              Maine                                     1
Florida               Florida                                   1
                      Maryland                                  1
Georgia               Texas                                     1
Illinois              Kentucky                                  1
Iowa                  New Mexico                                1
Alabama               Hawaii                                    1
Maine                 Delaware                                  1
                      Oregon                                    1
                      Vermont                                   1
Maryland              Utah                                      1
Michigan              Kansas                                    1
                      Nebraska                                  1
Mississippi           Oklahoma                                  1
Missouri              Arkansas                                  1
                      Mississippi                               1
                      New Mexico                                1
                      Utah                                      1
Wyoming               West Virginia                             1
Name: country_name, dtype: int64

In [51]:

import numpy as np

eurasia_df = s.load_object('eurasia_df')
all_countries_list = eurasia_df.country_name.tolist()
gdp_countries_df = s.load_object('gdp_countries_df')
COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows() if r.country_name in all_countries_list]
def get_gdp_rows_list(tuples_list, country_tuples_list=COUNTRY_TUPLES_LIST, country_column_name='country_name',
                  column_name='city_or_state_name', verbose=True):
    rows_list = []
    for country_tuple in country_tuples_list:
        candidate_tuple = sorted([s for s in tuples_list], key=lambda x: abs(x[1] - country_tuple[1]))[0]
        city_or_state_name = candidate_tuple[0]
        country_name = country_tuple[0]
        print(f'{country_name} is close to the GDP of {city_or_state_name}')
        row_dict = {}
        row_dict[country_column_name] = country_name
        row_dict[column_name] = city_or_state_name
        rows_list.append(row_dict)
    
    return rows_list

In [52]:

import numpy as np
eurasia_df = s.load_object('eurasia_df')
if 'city_equivalent_gdp' not in eurasia_df.columns:
    
    # Get the city and country lists
    all_countries_list = eurasia_df.country_name.tolist()
    gdp_countries_df = s.load_object('gdp_countries_df')
    COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows() if r.country_name in all_countries_list]
    gdp_cities_df = s.load_object('gdp_us_cities_df')
    city_tuples_list = [(r.city_name, r.gdp_2018) for i, r in gdp_cities_df.iterrows() if str(r.city_name) != 'nan']
    
    # Get the gdp equivalents
    rows_list = get_gdp_rows_list(city_tuples_list, column_name='city_name', verbose=False)
    country_to_city_gdp_equivalent_dict = pd.DataFrame(rows_list).set_index('country_name').city_name.to_dict()
    eurasia_df['city_equivalent_gdp'] = eurasia_df.country_name.map(lambda x: country_to_city_gdp_equivalent_dict.get(x, np.nan).split(', ')[0])
    s.store_objects(eurasia_df=eurasia_df)

In [54]:

eurasia_df = s.load_object('eurasia_df')
if 'any_equivalent_gdp' not in eurasia_df.columns:
    
    # Get the city list
    gdp_cities_df = s.load_object('gdp_us_cities_df')
    city_tuples_list = [(str(r.city_name).split(', ')[0], r.gdp_2018) for i, r in gdp_cities_df.iterrows() if str(r.city_name) != 'nan']
    
    # Get the state list
    gdp_us_states_df = s.load_object('gdp_us_states_df')
    state_tuples_list = [(r.state_name,
                          r.gdp_millions_usd_2021) for i, r in gdp_us_states_df.iterrows() if str(r.state_name) != 'District of Columbia']
    
    # Get the country list
    all_countries_list = eurasia_df.country_name.tolist()
    gdp_countries_df = s.load_object('gdp_countries_df')
    COUNTRY_TUPLES_LIST = [(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows() if r.country_name in all_countries_list]
    
    # Get the gdp equivalents
    city_state_tuples_list = city_tuples_list + state_tuples_list
    import numpy as np
    rows_list = get_gdp_rows_list(city_state_tuples_list, verbose=True)
    # country_to_city_gdp_equivalent_dict = pd.DataFrame(rows_list).set_index('country_name').city_or_state_name.to_dict()
    # eurasia_df['any_equivalent_gdp'] = eurasia_df.country_name.map(lambda x: country_to_city_gdp_equivalent_dict.get(x, np.nan).split(', ')[0])
    # s.store_objects(eurasia_df=eurasia_df)

China is close to the GDP of California
Japan is close to the GDP of California
Germany is close to the GDP of California
India is close to the GDP of Texas
France is close to the GDP of Texas
Italy is close to the GDP of New York
Spain is close to the GDP of Florida
Indonesia is close to the GDP of Los Angeles
Netherlands is close to the GDP of Illinois
Saudi Arabia is close to the GDP of Chicago
Switzerland is close to the GDP of Ohio
Turkey is close to the GDP of Ohio
Poland is close to the GDP of Virginia
Sweden is close to the GDP of Washington
Belgium is close to the GDP of Dallas
Thailand is close to the GDP of Dallas
Ireland is close to the GDP of Tennessee
Austria is close to the GDP of Colorado
Israel is close to the GDP of Atlanta
Norway is close to the GDP of Missouri
United Arab Emirates is close to the GDP of Tennessee
Denmark is close to the GDP of Miami
Philippines is close to the GDP of Missouri
Malaysia is close to the GDP of San Jose
Bangladesh is close to the GDP of San Jose
Finland is close to the GDP of South Carolina
Romania is close to the GDP of Alabama
Pakistan is close to the GDP of Minneapolis
Portugal is close to the GDP of Iowa
Greece is close to the GDP of Riverside
Iraq is close to the GDP of St. Louis
Kazakhstan is close to the GDP of St. Louis
Ukraine is close to the GDP of Nebraska
Hungary is close to the GDP of Nebraska
Qatar is close to the GDP of Arkansas
Kuwait is close to the GDP of Cleveland
Slovakia is close to the GDP of Milwaukee
Luxembourg is close to the GDP of Louisville
Sri Lanka is close to the GDP of Oklahoma City
Oman is close to the GDP of Maine
Bulgaria is close to the GDP of Honolulu
Myanmar is close to the GDP of Maine
Belarus is close to the GDP of Montana
Uzbekistan is close to the GDP of Montana
Lebanon is close to the GDP of Vermont
Croatia is close to the GDP of Alaska
Lithuania is close to the GDP of Alaska
Slovenia is close to the GDP of Alaska
Serbia is close to the GDP of Alaska
Turkmenistan is close to the GDP of Wyoming
Azerbaijan is close to the GDP of Wyoming
Jordan is close to the GDP of Wyoming
Latvia is close to the GDP of Vermont
Estonia is close to the GDP of Vermont
Nepal is close to the GDP of Vermont
Papua New Guinea is close to the GDP of Vermont
Cambodia is close to the GDP of Vermont
Iceland is close to the GDP of Vermont
Bosnia and Herzegovina is close to the GDP of Vermont
Afghanistan is close to the GDP of Vermont
Yemen is close to the GDP of Vermont
Georgia is close to the GDP of Vermont
Albania is close to the GDP of Vermont
Mongolia is close to the GDP of Vermont
North Macedonia is close to the GDP of Vermont
Armenia is close to the GDP of Vermont
Kyrgyzstan is close to the GDP of Vermont
Tajikistan is close to the GDP of Vermont
Montenegro is close to the GDP of Vermont
Bhutan is close to the GDP of Vermont
Moldova, Republic of is close to the GDP of Vermont
Czechia is close to the GDP of San Diego
United Kingdom of Great Britain and Northern Ireland is close to the GDP of California
Russian Federation is close to the GDP of Florida
Syrian Arab Republic is close to the GDP of Rhode Island
Iran (Islamic Republic of) is close to the GDP of Nevada
Viet Nam is close to the GDP of South Carolina
Lao People's Democratic Republic is close to the GDP of Vermont
Brunei Darussalam is close to the GDP of Vermont
Taiwan, Province of China is close to the GDP of Washington
Korea (Democratic People's Republic of) is close to the GDP of Vermont
Korea, Republic of is close to the GDP of New York

In [67]:

if s.pickle_exists('geo_fips_df'):
    geo_fips_df = s.load_object('geo_fips_df')
else:
    try:
        file_name = 'CAGDP2__ALL_AREAS_2001_2020.csv'
        # file_path = os.path.join(s.data_csv_folder, file_name)
        geo_fips_df = s.load_csv(file_name, folder_path=s.data_folder)
    except Exception as e:
        print(f'{e.__class__.__name__} error: {str(e).strip()}')
        excel_path = '../data/xlsx/CAGDP2__ALL_AREAS_2001_2020.xlsx'
        geo_fips_df = pd.read_excel(excel_path)
    # columns_list = ['GeoName', 2020]
    geo_fips_df = geo_fips_df.rename(columns={
        'GeoFIPS': 'geo_fips',
        'GeoName': 'geo_name',
        'Region': 'geo_region',
        'TableName': 'table_name',
        'LineCode': 'line_code',
        'IndustryClassification': 'industry_classification',
        'Description': 'geo_description',
        'Unit': 'geo_unit',
        2001: 'gdp_2001',
        2002: 'gdp_2002',
        2003: 'gdp_2003',
        2004: 'gdp_2004',
        2005: 'gdp_2005',
        2006: 'gdp_2006',
        2007: 'gdp_2007',
        2008: 'gdp_2008',
        2009: 'gdp_2009',
        2010: 'gdp_2010',
        2011: 'gdp_2011',
        2012: 'gdp_2012',
        2013: 'gdp_2013',
        2014: 'gdp_2014',
        2015: 'gdp_2015',
        2016: 'gdp_2016',
        2017: 'gdp_2017',
        2018: 'gdp_2018',
        2019: 'gdp_2019',
        2020: 'gdp_2020',
    })
    print(geo_fips_df.shape)
    mask_series = (geo_fips_df.geo_description == 'All industry total')
    for i in range(2001, 2021):
        mask_series = mask_series & ~geo_fips_df[f'gdp_{i}'].isnull() & (geo_fips_df[f'gdp_{i}'] != '(NA)')
    geo_fips_df = geo_fips_df[mask_series]
    print(geo_fips_df.shape)
    print(geo_fips_df.columns.tolist())
    for i in range(2001, 2021):
        geo_fips_df[f'gdp_{i}'] = geo_fips_df[f'gdp_{i}'].map(lambda x: int(x)/1_000)
    s.store_objects(geo_fips_df=geo_fips_df)

<class 'UnicodeDecodeError'> error: 'utf-8' codec can't decode byte 0xf1 in position 86565: invalid continuation byte
(108052, 28)
(3166, 28)
['geo_fips', 'geo_name', 'geo_region', 'table_name', 'line_code', 'industry_classification', 'geo_description', 'geo_unit', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005', 'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011', 'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017', 'gdp_2018', 'gdp_2019', 'gdp_2020']
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\geo_fips_df.pkl

In [68]:

# Get the gdp equivalents
gdp_countries_df = s.load_object('gdp_countries_df')
country_tuples_list = sorted([(r.country_name, r.wb_estimate) for i, r in gdp_countries_df.iterrows()], key=lambda x: x[1])
geo_tuples_list = [(r.geo_name, r.gdp_2020) for i, r in df.iterrows() if str(r.geo_name) != 'nan']
rows_list = get_gdp_rows_list(geo_tuples_list, country_tuples_list=country_tuples_list, column_name='geo_name', verbose=True)

New Caledonia is close to the GDP of Roane, TN
Liberia is close to the GDP of Columbia, WI
Djibouti is close to the GDP of Payne, OK
French Polynesia is close to the GDP of Paulding, GA
Sierra Leone is close to the GDP of Faulkner, AR
Eswatini is close to the GDP of Adams, PA
Maldives is close to the GDP of Franklin, WA
Barbados is close to the GDP of Mercer, PA
Fiji is close to the GDP of Mercer, PA
Montenegro is close to the GDP of Chelan, WA
Somalia is close to the GDP of Douglas, GA
Guyana is close to the GDP of Hancock, OH
Guam is close to the GDP of Dallas, IA
Cayman Islands is close to the GDP of Pennington, SD
Liechtenstein is close to the GDP of Jackson, MI
Monaco is close to the GDP of Houston, GA
Bermuda is close to the GDP of Kenosha, WI
Togo is close to the GDP of St. Charles, LA
Kosovo is close to the GDP of Broomfield, CO*
Kyrgyzstan is close to the GDP of Johnston, NC
Mauritania is close to the GDP of Monroe, PA
Tajikistan is close to the GDP of St. Mary's, MD
Equatorial Guinea is close to the GDP of Pinal, AZ
Chad is close to the GDP of Lackawanna, PA
Rwanda is close to the GDP of St. Louis, MN
Namibia is close to the GDP of St. Johns, FL
Congo is close to the GDP of Chesapeake (Independent City), VA
Mauritius is close to the GDP of Chesapeake (Independent City), VA
Bahamas is close to the GDP of Napa, CA
Moldova is close to the GDP of Olmsted, MN
Malawi is close to the GDP of Cameron, TX
Brunei is close to the GDP of St. Clair, IL
North Macedonia is close to the GDP of Shelby, AL
Nicaragua is close to the GDP of Caddo, LA
Armenia is close to the GDP of Caddo, LA
Mongolia is close to the GDP of York, SC
Haiti is close to the GDP of McLennan, TX
Niger is close to the GDP of Barnstable, MA
Madagascar is close to the GDP of Barnstable, MA
Jamaica is close to the GDP of Winnebago, IL
Mozambique is close to the GDP of Horry, SC
Malta is close to the GDP of Thurston, WA
Albania is close to the GDP of McLean, IL
Palestine is close to the GDP of Luzerne, PA
Gabon is close to the GDP of Luzerne, PA
Benin is close to the GDP of Luzerne, PA
Guinea is close to the GDP of Luzerne, PA
Botswana is close to the GDP of Leon, FL
Georgia is close to the GDP of Yolo, CA
Burkina Faso is close to the GDP of Ingham, MI
Mali is close to the GDP of Richmond, NY
Laos is close to the GDP of Tulare, CA
Afghanistan is close to the GDP of Douglas, CO
Trinidad and Tobago is close to the GDP of Larimer, CO
Yemen is close to the GDP of Williamson, TN
North Korea is close to the GDP of United States *
Tuvalu is close to the GDP of Garfield, MT
Nauru is close to the GDP of Daniels, MT
Kiribati is close to the GDP of Stanton, KS
Marshall Islands is close to the GDP of Woodruff, AR
Palau is close to the GDP of Presidio, TX
Micronesia is close to the GDP of Mercer, IL
Dominica is close to the GDP of Guthrie, IA
São Tomé and Príncipe is close to the GDP of Union, LA
Tonga is close to the GDP of Ray, MO
American Samoa is close to the GDP of Jackson, IA
Samoa is close to the GDP of Phelps, NE
Saint Vincent and the Grenadines is close to the GDP of Clark, AR
Vanuatu is close to the GDP of Payette, ID
Turks and Caicos Islands is close to the GDP of White, GA
Saint Kitts and Nevis is close to the GDP of Dawson, GA
Grenada is close to the GDP of McCurtain, OK
Seychelles is close to the GDP of Caroline, MD
Northern Mariana Islands is close to the GDP of Washington, ME
Sint Maarten is close to the GDP of Pearl River, MS
Comoros is close to the GDP of Hughes, SD
Antigua and Barbuda is close to the GDP of Dimmit, TX
Guinea-Bissau is close to the GDP of Monroe, TN
Solomon Islands is close to the GDP of Lyon, KS
San Marino is close to the GDP of Henry, OH
Saint Lucia is close to the GDP of Addison, VT
Cape Verde is close to the GDP of Hancock, MS
Belize is close to the GDP of Pettis, MO
East Timor is close to the GDP of Kay, OK
Lesotho is close to the GDP of Cherokee, SC
Gambia is close to the GDP of Queen Anne's, MD
Eritrea is close to the GDP of Bedford, TN
Central African Republic is close to the GDP of Tehama, CA
Bhutan is close to the GDP of Storey, NV
Greenland is close to the GDP of Coffee, TN
Curaçao is close to the GDP of Columbiana, OH
Andorra is close to the GDP of Lincoln, NC
Aruba is close to the GDP of Franklin, KY
Burundi is close to the GDP of Sullivan, NY
Suriname is close to the GDP of Sauk, WI
South Sudan is close to the GDP of St. Clair, IL
Zimbabwe is close to the GDP of Escambia, FL
Zambia is close to the GDP of Norfolk (Independent City), VA
Bosnia and Herzegovina is close to the GDP of Volusia, FL
Iceland is close to the GDP of Allen, IN
Papua New Guinea is close to the GDP of Jefferson, LA
Cyprus is close to the GDP of Seminole, FL
Honduras is close to the GDP of Seminole, FL
El Salvador is close to the GDP of Lucas, OH
Senegal is close to the GDP of Lucas, OH
Cambodia is close to the GDP of Forsyth, NC
Libya is close to the GDP of Forsyth, NC
Sudan is close to the GDP of Williamson, TX
Estonia is close to the GDP of Sonoma, CA
Lebanon is close to the GDP of Vermont
Latvia is close to the GDP of Greenville, SC
Nepal is close to the GDP of Albany, NY
Paraguay is close to the GDP of Will, IL
Bolivia is close to the GDP of Arlington, VA
Uganda is close to the GDP of Monmouth, NJ
Bahrain is close to the GDP of El Paso, CO
Tunisia is close to the GDP of Macomb, MI
Cameroon is close to the GDP of Macomb, MI
Syria is close to the GDP of Macomb, MI
Azerbaijan is close to the GDP of Ramsey, MN
Jordan is close to the GDP of Kent, MI
Turkmenistan is close to the GDP of Kern, CA
DR Congo is close to the GDP of Alaska
Slovenia is close to the GDP of New Castle, DE
Panama is close to the GDP of New Castle, DE
Serbia is close to the GDP of New Castle, DE
Uruguay is close to the GDP of Ventura, CA
Macau is close to the GDP of North Dakota
Lithuania is close to the GDP of Morris, NJ
Croatia is close to the GDP of Cobb, GA
Uzbekistan is close to the GDP of Oklahoma, OK
Belarus is close to the GDP of Rhode Island
Ivory Coast is close to the GDP of Honolulu, HI
Costa Rica is close to the GDP of Honolulu, HI
Angola is close to the GDP of Honolulu, HI
Tanzania is close to the GDP of Honolulu, HI
Bulgaria is close to the GDP of Maine
Ghana is close to the GDP of Collin, TX
Luxembourg is close to the GDP of Collin, TX
Myanmar is close to the GDP of West Virginia
Oman is close to the GDP of West Virginia
Guatemala is close to the GDP of Contra Costa, CA
Dominican Republic is close to the GDP of Hamilton, OH
Sri Lanka is close to the GDP of Denver, CO
Ecuador is close to the GDP of Cuyahoga, OH
Kenya is close to the GDP of Cuyahoga, OH
Cuba is close to the GDP of Suffolk, NY
Puerto Rico is close to the GDP of Suffolk, NY
Slovakia is close to the GDP of Kings, NY
Ethiopia is close to the GDP of Philadelphia, PA
Morocco is close to the GDP of Mississippi
Kuwait is close to the GDP of San Mateo, CA
Algeria is close to the GDP of District of Columbia
Qatar is close to the GDP of District of Columbia
Hungary is close to the GDP of Miami-Dade, FL
Ukraine is close to the GDP of Miami-Dade, FL
Iraq is close to the GDP of Miami-Dade, FL
Kazakhstan is close to the GDP of Nevada
Greece is close to the GDP of Oklahoma
Peru is close to the GDP of San Francisco, CA
Iran is close to the GDP of San Francisco, CA
New Zealand is close to the GDP of Kentucky
Portugal is close to the GDP of Louisiana
Czech Republic is close to the GDP of Oregon
Romania is close to the GDP of South Carolina
Chile is close to the GDP of Orange, CA
Pakistan is close to the GDP of Orange, CA
Vietnam is close to the GDP of Maricopa, AZ
Finland is close to the GDP of Maricopa, AZ
Colombia is close to the GDP of Maricopa, AZ
South Africa is close to the GDP of Connecticut
Bangladesh is close to the GDP of Missouri
Malaysia is close to the GDP of Wisconsin
Singapore is close to the GDP of Wisconsin
Hong Kong is close to the GDP of Wisconsin
Denmark is close to the GDP of Santa Clara, CA
Philippines is close to the GDP of Santa Clara, CA
Norway is close to the GDP of Santa Clara, CA
Egypt is close to the GDP of Santa Clara, CA
Argentina is close to the GDP of Colorado
Israel is close to the GDP of Cook, IL
Ireland is close to the GDP of Maryland
United Arab Emirates is close to the GDP of Maryland
Austria is close to the GDP of Maryland
Nigeria is close to the GDP of Maryland
Venezuela is close to the GDP of Michigan
Thailand is close to the GDP of Michigan
Belgium is close to the GDP of Michigan
Sweden is close to the GDP of Virginia
Poland is close to the GDP of North Carolina
Taiwan is close to the GDP of Ohio
Saudi Arabia is close to the GDP of Ohio
Turkey is close to the GDP of Los Angeles, CA
Switzerland is close to the GDP of Los Angeles, CA
Netherlands is close to the GDP of Illinois
Indonesia is close to the GDP of Florida
Mexico is close to the GDP of Florida
Spain is close to the GDP of Plains
Australia is close to the GDP of Plains
Brazil is close to the GDP of Plains
Russia is close to the GDP of Plains
South Korea is close to the GDP of New York
Canada is close to the GDP of New York
Italy is close to the GDP of Texas
France is close to the GDP of Great Lakes
India is close to the GDP of Great Lakes
United Kingdom is close to the GDP of Great Lakes
Germany is close to the GDP of Mideast
Japan is close to the GDP of Southeast
China is close to the GDP of United States *
United States is close to the GDP of United States *
Zanzibar is close to the GDP of United States *
British Virgin Islands is close to the GDP of United States *
Cook Islands is close to the GDP of United States *
Anguilla is close to the GDP of United States *
Montserrat is close to the GDP of United States *
Moldova, Republic of is close to the GDP of Olmsted, MN
Brunei Darussalam is close to the GDP of St. Clair, IL
Korea (Democratic People's Republic of) is close to the GDP of San Luis Obispo, CA
Lao People's Democratic Republic is close to the GDP of Tulare, CA
Syrian Arab Republic is close to the GDP of Shelby, TN
Iran (Islamic Republic of) is close to the GDP of Iowa
Czechia is close to the GDP of South Carolina
Viet Nam is close to the GDP of Maricopa, AZ
Taiwan, Province of China is close to the GDP of Ohio
Russian Federation is close to the GDP of Plains
Korea, Republic of is close to the GDP of New York
United Kingdom of Great Britain and Northern Ireland is close to the GDP of Great Lakes